body {
    margin:0px;
    min-height: 100vh;
    flex-direction: column;
    background-color:#F7F7F7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#sideBar {
    background-color:#ff6A00;
    min-height: 90vh;
    padding: 0px;
    max-width: 20vw;
    min-width: 20vw;
    display:inline-block;
    vertical-align: top;
}

#mainContent {
    min-height: 90vh;
    padding: 0px;
    max-width: 78vw;
    min-width: 78vw;
    display:inline-block;
    vertical-align: top;
}

#image-block {
    padding:0px;
    max-width: 18vw;
    min-width: 18vw;
    display:inline-block;
    vertical-align: top;
}

#data-block {
    padding:0px;
    max-width: 58vw;
    min-width: 58vw;
    display:inline-block;
    vertical-align: top;
}

#footer {
    height: 8vh;
    background-color:#ff6A00;
    padding:10px;
}