body {
    margin:0px;
    min-height: 100vh;
    flex-direction: column;
    background-color:#F7F7F7;
}

#topBar {
    background-color:#ff6A00;
    padding: 15px;
}

#sideBar {
    background-color:green;
    padding: 15px;
    width: 20vw;
}

.grid-container {
    display: grid;
}

#mainContent {
    background-color:black;
    padding: 15px;
    width: 70vw;
    height: 90vh;
}

#footer {
    height: 8vh;
    background-color:#ff6A00;
    padding:10px;
}